<section class="final">
  <h1 class="title">Finishing up</h1>
  <p class="description">Double-check everything looks OK before confirming.</p>

  <article class="final__info">
    <div class="final__preview">
      <div class="final__plan">
        <div class="final__contain">
          <p class="final__title">{{ current.plan?.name }}</p>
          <a class="final__change" (click)="resetPlanConfirm()">Change</a>
        </div>
        <span class="final__price"
          >${{ current.plan?.price }}/{{ current.plan?.type }}</span
        >
      </div>
      <hr />
      <div class="final__item" *ngFor="let addition of additions">
        <p class="final__text">{{ addition.title }}</p>
        <span class="final__value"
          >+${{ addition.price }}/{{ current.plan?.type }}</span
        >
      </div>
    </div>

    <div class="final__total">
      <p class="final__text">Total (per month)</p>
      <span class="final__value final__value--color"
        >+${{ sumAdditions }}/{{ current.plan?.type }}</span
      >
    </div>
  </article>

  <div class="plan__btns">
    <button class="btn__back" (click)="back()">Go back</button>
    <button class="btn__confirm" (click)="confirm()">Confirm</button>
  </div>
</section>
