<section class="final">
  <h1 class="title">Finishing up</h1>
  <p class="description">Double-check everything looks OK before confirming.</p>

  <article class="final__info">
    <div class="final__preview">
      <div class="final__plan">
        <div class="final__contain">
          <p class="final__title">Arcade (Monthly)</p>
          <p>Change</p>
        </div>
        <span class="final__price">$9/mo</span>
      </div>
      <hr />
      <div class="final__item">
        <p class="final__text">Online service</p>
        <span class="final__value">+$1/mo</span>
      </div>
      <div class="final__item">
        <p class="final__text">Larger storage</p>
        <span class="final__value">+$1/mo</span>
      </div>
    </div>

    <div class="final__total">
      <p class="final__text">Total (per month)</p>
      <span class="final__value final__value--color">+$12/mo</span>
    </div>
  </article>

  <div class="plan__btns">
    <button class="btn__back" (click)="back()">Go back</button>
    <button class="btn__confirm" (click)="confirm()">Next Step</button>
  </div>
</section>
