
form {
  width: 100%;

  span {
    display: inline-block;
    margin-bottom: 10px;
    color: var(--marine-blue);
    font-weight: 500;
    font-size: 0.9rem;
  }

  .span__error {
    color: var(--strawberry-red);
    font-weight: 700;
    float: right;
    font-size: 0.8rem;
  }

  input {
    margin-bottom: 26px;
    width: 100%;
    border-radius: 5px;
    padding: 10px;
    border: 1px solid var(--light-gray);
    font-weight: 800;
    color: var(--marine-blue);
  }

  input:focus {
    outline: 1px solid var(--purplish-blue);
  }

  input::placeholder {
    color: var(--cool-gray);
    font-weight: 700;
  }
}

.input__outline--error {
  outline: 1px solid var(--strawberry-red);
}

.btns__actions {
  flex-direction: row-reverse;
}


@media screen and (max-width: 600px) {
  .personal {
    background-color: var(--white);
    width: 80%;
    margin: auto;
    position: absolute;
    top: 124px;
    border-radius: 30px;
    padding: 35px;
  }
}
